html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: rgb(11, 90, 104);
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  ;
}

/* mobile design */
@media only screen and (max-width: 390px) {
  
  .main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: azure;
  /* min-height: 60vh; */
  height: 369px;
  max-width: 35em;
  /* min-width: 100vh; */
  margin: 10vh 0 0 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.150);
  
}

.main-container > p {
  font-size: 8px;
  text-align: right;
  color:rgba(0, 0, 0, 0.405);
  align-items: flex-end;
  width: 100%;
  justify-content: end;
  display: flex;
  padding-right: 2em;
}

img {
  border-radius: 50%;
  border: 4px solid rgba(0, 180, 75, 0.714);
}

.name {
  margin: 10px;
}

.raiting {
  background-color: rgba(212, 211, 211, 0.54);
  min-width: 100%;
}

.raiting > p {
  margin: 10px;
}

.price > h4, p {
  margin: 10px;
}
.price > p {
  margin: 15px;
  color: rgba(0, 0, 0, 0.661);
  font-size: small;
}

footer {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 2.6em;
}

.icon {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.phone {
  background-color: rgba(33, 255, 111, 0.739);
}

.text {
  background-color: rgba(0, 142, 50, 0.739);
}

.stars {
  
}

}


/* desktop design */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: azure;
  min-height: 60vh;
  height: 369px;
  max-width: 35em;
  /* /* min-width: 100vh; */
  margin: 10vh 0 0 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.150); */
  
}

.main-container > p {
  /* font-size: 8px;
  text-align: right;
  color:rgba(0, 0, 0, 0.405);
  align-items: flex-end;
  width: 100%;
  justify-content: end;
  display: flex;
  padding-right: 2em; */
}

img {
  border-radius: 50%;
  border: 4px solid rgba(0, 180, 75, 0.714);
}

.name {
  margin: 10px;
}

.raiting {
  background-color: rgba(212, 211, 211, 0.54);
  min-width: 100%;
}

.raiting > p {
  margin: 10px;
}

.price > h4, p {
  margin: 10px;
}
.price > p {
  margin: 15px;
  color: rgba(0, 0, 0, 0.661);
  font-size: small;
}

footer {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 2.6em;
}

.icon {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.phone {
  background-color: rgba(33, 255, 111, 0.739);
}

.text {
  background-color: rgba(0, 142, 50, 0.739);
}